@{
    ViewData["Title"] = "Система управления производством";
}

<div class="text-center mb-5">
    <h1 class="display-4">Интерактивная система управления производством</h1>
    <p class="lead">Автоматизация производственных процессов</p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Материалы</h5>
                <p class="card-text">Управление складскими запасами</p>
                <a href="/Home/Materials" class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Продукты</h5>
                <p class="card-text">Каталог производимой продукции</p>
                <a href="/Home/Products" class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h5 class="card-title">Заказы</h5>
                <p class="card-text">Управление производственными заказами</p>
                <a href="/Home/Orders" class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <h5 class="card-title">Линии</h5>
                <p class="card-text">Интерактивная панель линий</p>
                <a href="/Home/Lines" class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
</div>